body{
	margin-top: 1%;
	font-family: 'Be Vietnam';
	background-color: rgb(22, 22, 22);
	background-image: url("https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1053&q=80");
	min-height: 100vh;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;
}
#flipbook .page{
	background-image: linear-gradient(rgb(236, 236, 236),rgb(236, 236, 236),rgb(238, 234, 234));
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}
#flipbook {
	width:max-content;
	margin-left: 260px !important;
	height:max-content;
	margin-top: -1%;
}
#flipbook{
  -webkit-transition:margin-left 0.2s ease-in-out;
  -moz-transition:margin-left 0.2s ease-in-out;
  -o-transition:margin-left 0.2s ease-in-out;
  -ms-transition:margin-left 0.2s ease-in-out;
  transition:margin-left 0.2s ease-in-out;
}
.b{
	background-color: red;
	
}
.pgs{
	border: #dddddd solid 2px;
	
	opacity: 1;
	box-shadow: 0 2px 100px rgba(0, 0, 0, 0.6);
	text-align: center;
}

.pg{
	border: 22px solid black;
}
p{
	margin-left:10%;
	width: 80%;
	font-size: 12px;
	line-height: 19px;
	font-weight: 100;
	color: rgb(0, 0, 0);
}
.mrg{
	margin-left:10%;
	width: 80%;
}
span{
	color: rgb(40, 24, 255);
}

img {
	width: 300px;
	height: 300px;
	padding-right: 0px;
	border-radius: 100% !important;
	align-items: center;
	margin-top: 80px;	box-shadow:  0 0px 10px rgba(0, 0, 0, 0.2);

	border-radius: 0px;
}
ul {
	list-style: none;
}
h1{color:rgb(27, 27, 27);
font-family: Pacifico;
font-size: 22px;
padding-top: 20px;
padding-bottom: 40px;}
ul{
	margin-right: 40px;
	font-size: 20px;
	line-height: 125%;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 600;
}
.indx{
	font-family: 'Montserrat';
	line-height: 160%;
}
#flipbook .shadow,
#flipbook.shadow{
  -webkit-box-shadow: 0 4px 10px #666;
  -moz-box-shadow: 0 4px 10px #666;
  -ms-box-shadow: 0 4px 10px #666;
  -o-box-shadow: 0 4px 10px #666;
  box-shadow: 0 4px 10px #666;
}
#flipbook .page-wrapper{
   -webkit-perspective:2000px;
   -moz-perspective: 2000px;
   -ms-perspective: 2000px;
   perspective: 2000px;
}
li{
	text-decoration: none;
	color: rgb(0, 62, 155);
}

.back a {
	background-color: rgb(5, 5, 5);
	padding: 10px;
	color: #dddddd;
}